/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1550000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  background-image: -o-linear-gradient(348.24deg, #AB0071 -0.41%, #4C7CF7 108.85%);
  background-image: linear-gradient(101.76deg, #AB0071 -0.41%, #4C7CF7 108.85%);
  position: fixed;
  width: 100%;
}
.container__header .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}
.container__header .menu__header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 25px;
}
.container__header .menu__header .header__navigation .nav__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter-Light";
  position: relative;
}
.container__header .menu__header .header_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__header .menu__header .header_infos #deconnexion {
  background: #FFFFFF;
  color: #8730A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  font-weight: bold;
}

.mobile-menu {
  display: none;
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.mobile-menu span {
  width: 100%;
  height: 4px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.mobile-menu span::before,
.mobile-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #FFFFFF;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.mobile-menu span::before {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.mobile-menu span::after {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-active span {
  background-color: transparent;
}

.menu-active span::before {
  -webkit-transform: translateY(0px) rotateZ(45deg);
      -ms-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotateZ(45deg);
}

.menu-active span::after {
  -webkit-transform: translateY(0px) rotateZ(-45deg);
      -ms-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotateZ(-45deg);
}

.container__testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: strecth;
      -ms-flex-align: strecth;
          align-items: strecth;
  grid-gap: 50px;
  height: auto;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 50px 100px;
  background: #FFFFFF;
}
.container__testimonials .title__section__container p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: rgba(0, 0, 0, 0.54);
}
.container__testimonials .testimonials_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  overflow: hidden;
  height: auto;
  padding: 20px 10px;
}
.container__testimonials .testimonials_content .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: strecth;
      -ms-flex-align: strecth;
          align-items: strecth;
  grid-gap: 20px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
}
.container__testimonials .testimonials_content .testimonial .testimonial_users {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0;
  overflow: hidden;
}
.container__testimonials .testimonials_content .testimonial .testimonial_users img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container__testimonials .testimonials_content .testimonial .testimonial__details {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.017em;
  color: rgba(0, 0, 0, 0.5);
}

.slide__indicator {
  -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: strecth;
      -ms-flex-align: strecth;
          align-items: strecth;
  grid-gap: 20px;
}
.slide__indicator .indicator {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.24);
}
.slide__indicator .indicator_active {
  background: rgba(0, 0, 0, 0.94);
}

@media only screen and (max-width: 1300px) {
  .container__testimonials {
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 1130px) {
  .testimonials_content {
    -ms-grid-columns: (1fr)[2] !important;
    grid-template-columns: repeat(2, 1fr) !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media only screen and (max-width: 800px) {
  .testimonials_content {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media only screen and (max-width: 1300px) {
  .container__header {
    padding: 0 20px;
  }
  .container__header .menu__header {
    grid-gap: 0;
  }

  .container__section {
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__header {
    display: none !important;
  }
}
.container__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 25px;
  overflow: hidden;
  height: auto;
  padding: 50px 100px;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__section .section__search__bar {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 50px;
  border: 1px solid rgba(171, 0, 113, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__section .section__search__bar svg {
  height: 2rem;
  width: 2rem;
}
.container__section .section__search__bar svg * {
  fill: #8730A5;
}
.container__section .section__search__bar input {
  font-family: "Inter-Regular";
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
}
.container__section .section__search__bar .btn {
  background: #8730A5;
  color: #FFFFFF;
}
.container__section .section__teachers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  overflow: hidden;
  padding: 50px 10px 10px 10px !important;
}

.teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  grid-gap: 10px;
}

.teacher__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 48%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}
.teacher__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teacher__name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: #8730A5;
}

.teacher__friends {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: #000000;
}

.teacher__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teacher__infos .links__contact {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teacher__infos .links__contact svg * {
  fill: #000000;
}

.teacher__friends {
  text-align: center;
}

.see__all {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 2px;
  border-bottom: 2px solid #8730A5;
  color: #8730A5;
  font-size: 1rem;
  font-weight: bold;
}

.publication__details {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.017em;
  color: #000000;
}

@media only screen and (max-width: 1300px) {
  .container__section .section__teachers {
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .container__section {
    padding: 50px 20px;
  }
  .container__section .section__teachers {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .container__section .section__search__bar {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container__section .section__teachers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 50px;
  }
}
