$color__purple:#8730A5;
$color__white:#FFFFFF;
$color__black_text:#00000080;
$color__black:#000000;
$color__bg_section:#2E2C2C;
$font__regular:'Inter-Regular';
$font__Bold:'Inter-Bold';
$font__Medium:'Inter-Medium';
$font__Light:'Inter-Light';
$padding__section:100px;
$padding_top_bott_section:50px;
